.myStatusSuccess {
    color: green !important;
    font-weight: bold;
}

.myStatusWarning {
    color: orange !important;
    font-weight: bold;
}

.myStatusError {
    color: red !important;
    font-weight: bold;
}